/* @font-face {
	font-family: A1Gothic_R;
	src: url('font/AP-OTF-A1GothicStd-Regular.otf') format('truetype');
} */

/*========= 源暎アンチック ===============*/
/* https://okoneya.jp/font/download.html */

@font-face {
	font-family: GenEiAntique;
	src: url('font/GenEiAntiqueNv5-M.ttf') format('truetype');
}

@font-face {
	font-family: GenEiAntique-p;
	src: url('font/GenEiAntiquePv5-M.ttf') format('truetype');
}

/*==========*/

/*共通*/

body {
	background-color: rgb(234, 0, 70);

	/* 背景色 */
	font-size: 62.5%;
	color: rgb(255, 255, 255);
	line-height: 1.5;
	font-family: 'GenEiAntique-p';
}

/*========= 背景動画設定のCSS ===============*/

/*header設定*/
#header {
	position: relative;
	/*h1の中央寄せ配置の起点とするためのrelative*/
	height: 100vh;
	/*高さを全画面にあわせる*/
}

#video-area {
	position: fixed;
	z-index: -2;
	/*最背面に設定*/
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
}

#video {
	/*天地中央配置*/
	position: absolute;
	z-index: -2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*縦横幅指定*/
	width: 177.77777778vh;
	/* 16:9 の幅→16 ÷ 9＝ 177.77% */
	height: 56.25vw;
	/* 16:9の幅 → 9 ÷ 16 = 56.25% */
	min-height: 100%;
	min-width: 100%;
}

/*==========*/

.bgimg {
	width: 100vw;
	height: 100vh;

	position: fixed;
	top: 0px;

	/* 画像 */
	/* background-image: url("img/odden_animation.gif"); */
	/* background-repeat: no-repeat; */

	z-index: -1;
	/* transition: all 0.5s; */

	background-color: rgba(128, 128, 128, .5);
}

.bgimg-blur {
	filter: blur(40px);
}

.info-name {
	margin: 10px 0px;
}

.nav-wrap {
	height: 100%;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

#loading {
	display: block;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

.loaded {
	opacity: 0;
	visibility: hidden;
}

#nxpc-logo {
	/* display: none; */
	stroke-dasharray: 1000px;
	animation: logo-anim 3s forwards;
}

.title-anim1 span {
	opacity: 0;
	animation: fadein 2s forwards;
}

.played span {
	opacity: 1;
	transform: translate(0, 0);
}

.fa-twitter-square {
	color: #00acee;
}

/* .fa-instagram-square{
	color: 
} */

.fa-facebook-square {
	color: #315096;
}

.content-wrap {
	margin-bottom: 40px;
}

.close-content {
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
	opacity: 0.5;
}

.info-table {
	margin-left: 20px;
	padding-bottom: 10px;
}

.info-table td {
	padding: 8px;
}

.time-table {
	margin-left: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	/* background: rgba(255,255,255,0.8); */
}

.time-table td {
	padding: 8px;
	border: 2px solid #333;
	vertical-align: middle;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes logo-anim {
	0% {
		stroke-dashoffset: 1000px;
	}

	70% {
		stroke-dashoffset: 0px;
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/*PC*/
@media screen and (min-width: 800px) {
	.bgimg {
		background-size: 120%;
		background-position: 1vw 15vh;
	}

	nav {
		font-size: 1.8rem;
	}

	#id {
		width: 100%;
	}

	#mv {
		position: fixed;
		margin: 0 10vw;
		/* height:90vh; */
		width: 80vw;
		bottom: 10px;
		z-index: -1;
	}

	#logo-wrap {
		display: block;
		width: 20%;
		margin: 0 auto;
		padding-top: 20%;
	}

	.category {
		font-size: 2.5rem;
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 20px;
		padding-top: 20px;
	}

	.info-name {
		font-size: 1.2rem;
	}

	/* ul {
		display: flex;
	} */

	li {
		padding-right: 20px;
	}

	h3 {
		font-size: 1.6rem;
	}

	p {
		font-size: 1.2rem;
	}

	td {
		font-size: 1.2rem;
	}

	.blotter {
		display: inline-block;
		width: 35px;
		height: 60px;
		overflow: hidden;
	}

	.b-canvas {
		position: relative;
		top: -35px;
		left: 3px;
		z-index: -1;
	}

	.nx-txt {
		width: 80%;
		margin: 10px 0px;
	}

	.fab {
		font-size: 40px;
		margin: 5px 5px;
	}

	#prologue-anim {
		font-size: 1.4rem;
	}

	.artist-wrap {
		width: 20%;
		margin: 0px 2% 20px 0;
		max-width: 200px;
		min-width: 160px;
	}

	.artist-photo {
		width: 100%;
	}

	.artist-name {
		font-size: 1.0rem;
	}

	.artist-prof {
		font-size: 0.8rem;
	}

	.title-logo {
		height: 70vh;
		/* font-size: 0; */
		z-index: 10;

		/* position: absolute;
		bottom: 10px;
		left: 10px; */
	}

	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		margin: 50px 30px;
	}

	.video-wrapper iframe,
	.video-wrapper object,
	.video-wrapper embed {
		border: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/*スマホ*/
@media screen and (max-width: 800px) {
	.bgimg {
		background-size: 250%;
		background-position: right -430px top 110px;
	}

	nav {
		font-size: 1.1rem;
	}

	#mv {
		position: fixed;
		width: 100vw;
		right: 0;
		bottom: 30vh;
		z-index: -1;
	}

	#logo-wrap {
		display: block;
		width: 40%;
		margin: auto;
		padding-top: 35vh;
	}

	p {
		font-size: 1.0rem;
	}

	.info-name {
		font-size: 0.8rem;
	}

	/* ul {
		display: flex;
	} */

	li {
		padding-right: 10px;
	}

	td {
		font-size: 1.0rem;
	}

	.blotter {
		display: inline-block;
		width: 20px;
		height: 40px;
		overflow: hidden;
	}

	.b-canvas {
		position: relative;
		top: -18px;
		left: 5px;
		z-index: -1;
	}

	/* #about-content {
		width: 92%;
		margin: 0 4%;
	} */

	.nx-logo {
		display: block;
		padding: 10px;
	}

	.nx-txt {
		margin: 10px 0px;
	}

	.fab {
		font-size: 40px;
		margin: 5px 5px;
	}

	.linksns {
		display: flex;
		justify-content: flex-end;
	}

	#prologue-anim {
		padding-top: 20px;

	}

	.artist-wrap {
		width: 100%;
		margin: 10px 2%;
	}

	.artist-photo {
		width: 100%;
	}

	.artist-name {
		font-size: 1.0rem;
	}

	.artist-prof {
		font-size: 0.7rem;
	}

	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		margin: 30px 0px;
	}

	.video-wrapper iframe,
	.video-wrapper object,
	.video-wrapper embed {
		border: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}