/* @font-face {
	font-family: A1Gothic_R;
	src: url('font/AP-OTF-A1GothicStd-Regular.otf') format('truetype');
} */

/* ========== 源暎アンチック ========== */
/* https://okoneya.jp/font/download.html */

@font-face {
	font-family: GenEiAntique;
	src: url('font/GenEiAntiqueNv5-M.ttf') format('truetype');
}

@font-face {
	font-family: GenEiAntique-p;
	src: url('font/GenEiAntiquePv5-M.ttf') format('truetype');
}

/* ========== */


/* ========== 共通 ========== */
html {
	height: -webkit-fill-available;
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;

	/* background-color: rgb(234, 0, 70); */

	/* 背景色 */
	/* font-size: 62.5%; */
	color: rgb(255, 255, 255);
	line-height: 1.5;
	font-family: 'GenEiAntique-p';
}


/* ===== 背景動画 ===== */

/*header設定*/
#header {
	/* position: relative; */
	/*h1の中央寄せ配置の起点とするためのrelative*/
	/* height: 100vh; */
	/*高さを全画面にあわせる*/
}

#video-area {
	position: fixed;
	z-index: -2;
	/*最背面に設定*/
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
}

.bg-video {
	/* min-height: 100%;
	min-width: 100%;
	object-fit: cover; */
	height: 100vh;
	width: 100vw;
	object-fit: fill;
}

/* ===== */

.logo-wrap {
	width: 20vh;
}

.bgimg {
	width: 100vw;
	height: 100vh;

	position: fixed;
	top: 0px;

	/* 画像 */
	background-image: url("movie/back_ef_mobile.png");
	/* background-image: url("movie/back_ef_mobile.gif"); */
	/* background-repeat: no-repeat; */

	z-index: -1;
	/* transition: all 0.5s; */

	background-color: rgba(128, 128, 128, .5);
}

.bgimg-blur {
	filter: blur(40px);
}

main {
	width: 360px;
}

/* ===== ナビゲーション ===== */

nav {
	z-index: 1;
}

nav ul {
	list-style: none;
}

nav li {
	padding-right: 20px;
}

/* ===== */

.title-logo {
	height: 70vh;
	z-index: 10;
}

#loading {
	display: block;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

#nxpc-logo {
	/* display: none; */
	stroke-dasharray: 1000px;
	animation: logo-anim 3s forwards;
}

.fab {
	font-size: 40px;
	margin: 5px 5px;
}

.fa-twitter-square {
	color: #00acee;
}

/* .fa-instagram-square{
	color: 
} */

.fa-facebook-square {
	color: #315096;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
	opacity: 0.5;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes logo-anim {
	0% {
		stroke-dashoffset: 1000px;
	}

	70% {
		stroke-dashoffset: 0px;
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* ===== 配信動画 ===== */
.nav-link {
	color: white;
}

.nav-link:hover {
	color: lightgray;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	/* overflow: hidden; */
	/* margin: 50px 30px; */
}

.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
	/* border: 0; */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ===== */

/* .t-head {
	background-color: rgb(201, 0, 60, 0.5);
} */

/* .t-body {
	background-color: rgba(240, 0, 72, 0.5);
} */

.card-bg {
	background: none;
}

footer {
	z-index: 2;
	font-size: 0.8rem;
}

#footer-logo {
	width: 10vh;
}

/*==========*/


/*========== PC ==========*/

@media screen and (min-width: 800px) {
	.bg-gif {
		padding: 0 16vw;
		width: 100vw;
	}
}

/*==========*/


/*========== スマホ ==========*/

@media screen and (max-width: 800px) {
	.bg-gif {
		width: 100vw;
	}
}

/*==========*/